table, td
{
	border: 1px solid black;
	text-align: center;
	border-spacing: 3px;
	border-collapse: collapse;
	padding: 10px;
	font-family: Arial;
	font-size: 16pt;
}
th
{
	border: 1px solid black;
	text-align: center;
	border-spacing: 3px;
	border-collapse: collapse;
	background-color: #777;
	padding: 10px;
	font-family: Arial;
	font-size: 16pt;
	font-weight: bold;
	color: #f8f8f8;
}
